*.log
.DS_Store
.vscode/

test.py
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Python
*.egg-info/
.tox
secret.py

# Node
node_modules/

# Instagram crawler specific
inscrawler/bin/*
!inscrawler/bin/.keep

# Screenshots
screenshots/
*.png
*.jpg
*.jpeg

# Chrome driver
chromedriver*